.about-hero-div {
    background-image: url('../../data/images/conservation.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: 400;
    height: 35vh;
    position: relative;
}


.about-hero-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.about-hero-div p {
    z-index: 500
}