.contact-middle-section {
  gap: 3rem;
  padding: 3rem 0;
}

.contact-questions h2 {
  font-weight: 700;
}

.email-contact-form input {
  width: 70%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.email-contact-form button {
  margin-left: 0.5rem;
  background-color: #05a653;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
}

.email-contact-form button:hover {
  background-color: #048f48;
  color: #fff;
  cursor: pointer;
}

.contact-faqs {
  padding-top: 1rem;
}
