/* objectives */
#objectives {
  background: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#objectives .container {
  background-color: #05a653;
  color: #fff;
}
#objectives > .container > div > div {
  background-size: contain;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#objectives > .container > div > div:nth-child(2) {
  background: url("../../data/images/mission.png") center no-repeat;
}
#objectives > .container > div > div:nth-child(3) {
  background: url("../../data/images/vision.png") center no-repeat;
}
@media (max-width: 952px) {
  #objectives .container > div > div:nth-child(3) {
    display: none;
  }
  #objectives > .container > div > div {
    height: auto;
    min-height: 50vh;
  }
}
