.stories-card {
    display: flex;    
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    width: 300px;
    gap: 5px;
    padding: 10px;
    margin: 20px !important;
    /* background-color: orange; */
    transition: all 0.3s ease;
}

.stories-card:hover {
    cursor: pointer;
    transform: scale(1.01) ;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0,0.3); */
    box-shadow: 0 0 4px 20px rgba(94, 92, 92, 0.5);

}

.stories-card .stories-headline {
    color: rgb(56, 55, 55);
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.stories-card .story-content {
    font-size: 18px;
}

@media screen and (max-width: 746px) {
    .stories-card {
        width: 500px;
        margin: 0;
    }
}

