/* .impact-page {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
} */

.testimonials-btn {
    padding: 12px 24px;
    background-color: rgb(0, 47, 255);
    text-decoration: none;
    color: white;
}

/* .testimonials-btn:hover {
    background-color: rgb(8, 38, 172);
    cursor: pointer;;
} */

/* .impact-page {
    background-image: url(../../images/slider-3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* filter: brightness(75%);
    height: auto;
    /* height: auto; 
    position: relative;
    /* margin-bottom: -60px; 
}

.impact-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #04462b66);
    z-index: 2;
}

.impact-page .container-fluid .container {
    position: relative;
    z-index: 2;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.impact-page .container-fluid h4{
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 10vh;
    color: #08c564;
}


.impact-page .container-fluid h3{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

.impact-page h3::after {
    content: "☘️";
    background-color: #05a653;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
}


.impact-hero {
    padding: 20px;
    backdrop-filter: blur(20px);
    /* border: 1px solid green; 
    border-radius: 5px;
    color: white
}

.impact-hero h5 {
    color: #ffffff;
    /* font-size: 20px; 
}


/* .impact-hero p {
    color: rgb(255, 255, 255, 1);
    font-size: 20px;
}
 */




