.project-details-page {
    background: linear-gradient(to bottom, #10b660 30%, #000000 70%);
    padding: 50px;
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-details-div {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.project-details-div p strong {
    color: #05a552;
}


.project-details-category {
    color: #10b660;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 24px;
}

.project-title {
    text-align: center;
    font-size: 40px;
    font-weight: 650;
    color: white;
}

.project-image {
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

